body {
	
}

#banner {
	width:100%;
}

.principal{
	background: #808080;
	padding: 30px;
}

h1 {
	text-align: center;
	width: 25%
	margin-right: 20%;
	font-style: 
}

p {
	text-align: center;
	width: 25%
	margin-right: 20%;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

ul {
	display: inline-block;
	width: 20%;
	margin-right: 30%;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}


.column {
    width: 100%;
  }
}